<!DOCTYPE html>
<html lang="es">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="undefined" crossorigin="anonymous" />
	<!-- lib mqtt -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.2.6/mqtt.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<body>

		<div class="card text-white bg-primary mb-3" style="width: 90%; margin: 1% 5%;">
			<div class="card-header" style="text-align: center;"><h3>Control</h3></div>
			<div class="card-body">
				<div class="row" style=" margin-top: 1%;">
					<div class="col-sm-6">
						<button type="button" class="btn btn-success" style="min-width: 50%; margin-left: 25%;" onclick="publicar()">
							<span id="">Activar</span>
						</button>
					</div>
					<div class="col-sm-6">
						<button type="button" class="btn btn-danger" style="min-width: 50%; margin-left: 25%;" onclick="apagar()">
							<span id="">Apagar</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="card text-white bg-primary mb-3" style="width: 90%; margin: 1% 5%;">
			<div class="card-header" style="text-align: center;"><h3>Modo</h3></div>
			<div class="card-body">
				<div class="row" style=" margin-top: 1%;">
					<div class="col-sm-2">
						<label class="form-label">Animación:</label>
					</div>
					<div class="col-sm-4">
						<select class="form-select" id="modo" style="width: 80%;">
							<option value="0">Estatica</option>
							<option value="1">Vibora</option>
							<option value="2">Espejo</option>
							<option value="3">Fogata</option>
							<option value="4">Arcoiris</option>
						</select>
					</div>
					<div class="col-sm-2" id="brillo_l">
						<label class="form-label">Brillo:</label>
					</div>
					<div class="col-sm-4" id="brillo_s">
						<select class="form-select" id="brillo" style="width: 80%;">
							<option value="1">20%</option>
							<option value="2">40%</option>
							<option value="3">60%</option>
							<option value="4">80%</option>
							<option value="5">100%</option>
						</select>
					</div>
					<div class="col-sm-2" id="color_l">
						<label class="form-label">Color:</label>
					</div>
					<div class="col-sm-4" id="color_s">
						<select id="estado" style="width: 80%;">
							<option value="0">Fijo</option>
							<option value="1">Gradiente</option>
						</select>
					</div>
					<div class="col-sm-6" id="aux_vel"></div>
					<div class="col-sm-2" id="velocidad_l">
						<label class="form-label">Velocidad:</label>
					</div>
					<div class="col-sm-4" id="velocidad_s">
						<select class="form-select" id="velocidad" style="width: 80%;">
							<option value="5">20%</option>
							<option value="4">40%</option>
							<option value="3">60%</option>
							<option value="2">80%</option>
							<option value="1">100%</option>
						</select>
					</div>
					<div class="col-sm-6"></div>
					<div class="col-sm-2" id="sleep_l">
						<label class="form-label">Sleep:</label>
					</div>
					<div class="col-sm-4" id="sleep_s">
						<select class="form-select" id="sleep" style="width: 80%;">
							<option value="0">No apagar</option>
							<option value="1">15</option>
							<option value="2">30</option>
							<option value="3">45</option>
							<option value="4">60</option>
						</select>
					</div>
				</div>
			</div>
		</div>


		<div class="card text-white bg-primary mb-3" style="width: 90%; margin: 1% 5%;" id="color">
			<div class="card-header" style="text-align: center;"><h3>Color</h3></div>
			<div class="card-body">
				<div class="row" style=" margin-top: 1%;">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-4">
								<label class="form-label">Rojo:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="r1" style="width: 80%;" value="1" max="25" min="0">
							</div>
							<div class="col-sm-4">
								<label class="form-label">Verde:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="g1" style="width: 80%;" value="25" max="25" min="0">
							</div>
							<div class="col-sm-4">
								<label class="form-label">Azul:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="b1" style="width: 80%;" value="10" max="25" min="0">
							</div>
						</div>
					</div>
					<div class="col-sm-6" id="delta">
						<div class="row">
							<div class="col-sm-4">
								<label class="form-label">Gradiente rojo:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="r2" style="width: 80%;" value="0" max="25" min="0">
							</div>
							<div class="col-sm-4">
								<label class="form-label">Gradiente verde:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="g2" style="width: 80%;" value="5" max="25" min="0">
							</div>
							<div class="col-sm-4">
								<label class="form-label">Gradiente azul:</label>
							</div>
							<div class="col-sm-8">
								<input type="number" id="b2" style="width: 80%;" value="25" max="25" min="0">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

	<script type="text/javascript">
	
	var client = mqtt.connect('ws://192.168.100.251:1884/mqtt');
		var r1,g1,b1,r2,g2,b2,m,b,v,t,e; 
		
		client.subscribe("G/");

        client.on('message',function(topic, message, packet){
            console.log(topic +' - '+message);
        });

		function publicar() {
			var mes ='';
			if( m != '4' ){
				r1 = document.getElementById('r1').value;
				g1 = document.getElementById('g1').value;
				b1 = document.getElementById('b1').value;
			} else{
				r1 = 10;
				g1 = 10;
				b1 = 10;
			}
			if( e == '0' ){
				r2 = r1;
				g2 = g1;
				b2 = b1;
			}else{
				r2 = document.getElementById('r2').value;
				g2 = document.getElementById('g2').value;
				b2 = document.getElementById('b2').value;
			}

			r1 < 10 ? mes = mes + '0' + r1 : mes = mes + r1;
			g1 < 10 ? mes = mes + '0' + g1 : mes = mes + g1;
			b1 < 10 ? mes = mes + '0' + b1 : mes = mes + b1;

			r2 < 10 ? mes = mes + '0' + r2 : mes = mes + r2;
			g2 < 10 ? mes = mes + '0' + g2 : mes = mes + g2;
			b2 < 10 ? mes = mes + '0' + b2 : mes = mes + b2;

			mes = mes + m;

			mes = mes + document.getElementById('brillo').value;
			mes = mes + document.getElementById('velocidad').value;
			mes = mes + document.getElementById('sleep').value;
			
			client.publish('G/', mes, { retain: true });
		}

		function apagar(){
			client.publish('G/', '0000000000000000', { retain: true });
		}

	</script>

	<script>

		$(function(){
			var modos = function(){
				m = $('#modo').val();
				switch(m){
					case '0':
						$('#velocidad_l').hide();
						$('#velocidad_s').hide();
						$('#aux_vel').show();
						$('#color_l').show();
						$('#color_s').show();
						$('#color').show();
						break;
					case '1':
					case '2':
					case '3':
						$('#velocidad_l').show();
						$('#velocidad_s').show();
						$('#aux_vel').hide();
						$('#color_l').show();
						$('#color_s').show();
						$('#color').show();
						break;
					case '4':
						$('#color_l').hide();
						$('#color_s').hide();
						$('#color').hide();
						$('#velocidad_l').show();
						$('#velocidad_s').show();
						$('#aux_vel').show();
						break;
				}
			}

			$('#modo').change(modos);

			modos();
		});

		$(function(){
			var estados = function(){
				e = $('#estado').val();
				switch(e){
					case '0':
						$('#delta').hide();
						break;
					case '1':
						$('#delta').show();
						break;
				}
			}

			$('#estado').change(estados);
			
			estados();
		});

	</script>

</html>